services:
  - type: web
    name: catasto-lookup-api
    runtime: python
    plan: starter
    region: frankfurt
    autoDeploy: true
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn app:app --host 0.0.0.0 --port $PORT
    healthCheckPath: /
